.nav-layout {
  background-color: $nav-bg-color;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  font-size: 1em;
  z-index: 1000;
}

// LG
@media (min-width: 992px) {
  box-shadow: 0 2px 3px $nav-shadow-color;
}