extends layouts/main.pug

block content
    div.page-layout.container
        div.row
            div.col.page-col-main
                include posts/18012017.pug
            div.col.page-col-aside
                include content/blog/aside.pug
        div.row
            div.col
                include blocks/footer.pug