.block {
    background-color: #fff;
    box-shadow: 0 1px 3px #757575;
    font-size: 1em;
    margin-bottom: 0.625em;

    .b-header {
        height: 10em;
        background-position: center center;
        background-size: cover;
        position: relative;

        .bh-header {
            color: $b-header-font-color;
            padding: 5px;
            position: absolute;
            left: 0;
            bottom: 0;
            margin: 0;
        }

        .bh-link {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            bottom: 0;

        }
    }

    .b-body {
        position: relative;
        padding: 1em;

        p.b-last {
            margin-bottom: 0;
        }
    }

    .b-date {
        font-size: .8em;
        font-style: italic;
        color:$b-date-font-color;
    }

    .b-footer {
        .b-link {
            display: inline-block;
            text-align: center;
            width: 100%;
            padding: 0 1em 1em 1em;
            color: $b-date-font-color;
        }

        .b-link:active, .b-link:focus, .b-link:visited {
            color:#78909C;
            text-decoration: none;
        }

        
        .b-link:hover {
        
        }
    }
}