// MAIN HEADER
// Место для логотипа и объявлений

.header {
    font-size: 1em;
    max-width: 1140px;
    padding-top: 2em;
    padding-bottom: 2em;
    @include make-container();

    h1 {
        color: $h-font-color;
        text-align: center;
        margin-bottom: 0;

        span {
            color: $h-alt-font-color;
        }
    }
}