// MAIN CONTENT BLOCK

.main_container {
    @include make-col-ready();

    @include make-col(12);

    @media (min-width: 762px) {
        @include make-col(7);
        margin-top: 0;
        margin-right: -0.625em;
    }

    @media (min-width: 992px) {
        @include make-col(7);
        margin-right: -0.625em;
    }

    @media (min-width: 1200px) {
        @include make-col(8);
    }
}