// NAVIGATION

// LG SCREEN
.nav {
    width: 960px;
    margin: 0 auto;
    padding: 0 0.9375em;

    &__top {
        box-shadow: none;
        display: none;
    }

    &__toggle {
        box-shadow: none;
        position: static;
        display: block !important;
    }

    &__item {
        display: inline;
    }

    &__link {

        // MODs
        &--li {
            display: inline-block;
            padding: 0 0.9375em;
            border: none;
            line-height: 3em;
        }
    }
}

