$page-bg-color: #eceff1;

$main-font-color: #212121;
$info-font-color: #78909C;

// block
$b-date-font-color: $info-font-color;

// block header
$b-header-font-color: #fff;

// block body

// block footer
$ftr-flc: $info-font-color; // __footer-link color
$ftr-flc-h: #546E7A; // __footer-link hover color

// content
$cn-font-color: $main-font-color;

//header
$h-font-color: $main-font-color;
$h-alt-font-color: #F44336;

// navigation
$nav-bg-color: #37474f;
$nav-font-color: #b6bdc1;
$nav-shadow-color: #212121;

$nav-item-border-top-color: #546e7a;
$nav-item-border-bottom-color: #263238;
$nav-item-bg-hover-color: #455A64;

$nav-toggle-shadow-color: $nav-shadow-color;

// l-block
$slb__link_background-color-hover: rgba(255, 255, 255, .1);

// sidebar-item
$sitem_background-color: #fff;
$sitem_box-shadow: 0 1px 3px #757575;
$sitem__header_border-bottom-color: #757575;