// отменить импорт предустановленных классов grid
$enable-grid-classes: false;

@import "../../bower_components/bootstrap/scss/bootstrap-reboot";
@import "../../bower_components/bootstrap/scss/bootstrap-grid";

// variables
@import "variables";

// common
@import "common";

// layouts
@import "./layouts/common";
@import "./layouts/page";
@import "./layouts/header";
@import "./layouts/nav";

// blocks
@import "navigation/navigation";
@import "header";
@import "sidebar";
@import "footer";
@import "block";

@import "sidebar";
@import "s-block";
@import "l-block";

@import "pager";


body {
    background: $page-bg-color $page-bg;
    color: $main-font-color;
}
